*{
    font-family: 'Roboto', sans-serif;
    background-color: #f2e0eb;
}

.header{
    display: flex;
    align-content: center;
    justify-content: center;

}

h2{
    text-align: center;
}
/*add book button styling */
#newBook-container{
    display: flex;
    justify-content: center;
}

#newBook{
    border: 2px solid black;
    border-radius: 3px;
    font-size: .9rem;
}

#newBook:hover{
    font-size: 1rem;
}


.popUp{
    border: 1px solid black;
    display: none;
    width: 200px;
}

#close:hover, #addBtn:hover{
    font-size: 1rem;
}

#form-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

legend{
    padding-top: 5px;
    font-weight: bold;
}

#close{
    width: auto;
}

#textInput > p{
    margin: 5px;
}

#checkBox > p{
    margin: 5px;
}

#addBtn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.active{
    display: block;
}

.card{
    border: 1px solid black;
    width: 25%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #e0f2e7;
}

.card > p, .remove-btn{
    background-color: #e0f2e7; 
}

.book-title{
    font-weight: bold;
    text-align: center;
}

.book-author{
    font-style: italic;
    text-align: center;
    font-size: .9rem;
}

#lib-container{
    display: flex;
    justify-content: center;
    width: 100%

}

